.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.chpwd-recent-dirs
.claude/
.config/.mozilla/
.config/aether/
.config/autostart/
.config/baloofilerc
.config/bluedevilglobalrc
.config/brave-flags.conf
.config/brave-origin-beta-flags.conf
.config/breezerc
.config/btop/
.config/chezmoi/
.config/chromium-flags.conf
.config/chromium/
.config/Code/
.config/com.definitive.modmanager/
.config/dconf/
.config/elephant/
.config/environment.d/
.config/fcitx/
.config/fcitx5/
.config/flutter/
.config/fontconfig/
.config/gamma-launcher/
.config/gh/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/htop/
.config/hypr/autostart.conf
.config/hypr/envs.conf
.config/hypr/hyprland.conf
.config/hypr/hyprlock.conf
.config/hypr/hyprsunset.conf
.config/hypr/looknfeel.conf
.config/hypr/shaders/
.config/hypr/xdph.conf
.config/hyprland-preview-share-picker/
.config/ibus/
.config/imhex/
.config/imv/
.config/jackify/
.config/kactivitymanagerd-pluginsrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/katevirc
.config/kconf_updaterc
.config/KDE/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kiorc
.config/kitty/
.config/kplymouththemeinstallerrc
.config/krunnerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/lact/
.config/lazydocker/
.config/lazygit/
.config/libaccounts-glib/
.config/libreoffice/
.config/mako/
.config/mimeapps.list
.config/mise/
.config/niri/config.kdl.*
.config/nvim.last-checked
.config/nvim/plugin/
.config/obsidian/
.config/omarchy.ttf
.config/omarchy/
.config/padctl/padctl.log
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/ProtonPlus
.config/pulse/
.config/pupgui/
.config/qalculate/
.config/QtProject.conf
.config/session/
.config/spectaclerc
.config/spotify/
.config/starship.toml
.config/steamtinkerlaunch/
.config/swayosd/
.config/Swiftpoint X1 Control Panel/
.config/systemd/user/app-walker@autostart.service.d/
.config/systemd/user/default.target.wants/padctl.service
.config/systemd/user/elephant.service
.config/systemd/user/graphical-session-pre.target.wants/
.config/systemd/user/graphical-session.target.wants/
.config/systemd/user/omarchy-battery-monitor.service
.config/systemd/user/omarchy-battery-monitor.timer
.config/systemd/user/omarchy-recover-internal-monitor.service
.config/systemd/user/padctl.service
.config/systemd/user/swayosd-server.service
.config/systemd/user/swiftpoint-x1-control-panel.service
.config/systemd/user/timers.target.wants/
.config/systemmonitorrc
.config/tool_state
.config/trashrc
.config/Trolltech.conf
.config/Typora/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/uwsm/
.config/volt-gui
.config/walker/
.config/waybar/style.css
.config/wiremix/
.config/wireplumber/wireplumber.conf.d/bluetooth-a2dp-autoconnect.conf
.config/xournalpp/
.config/xsettingsd/
.config/zoom.conf
.config/zoom/
.config/zoomus.conf
.cspell/
.dotfiles/
.dotnet/
.GA_ClientID
.gnupg/
.gradle/
.gtkrc-2.0
.ICAClient/
.keychain/
.local/share/
.local/state/
.m2/
.npm/
.nv/
.pki/
.pulse-cookie
.python_history
.ssh/
.steam/
.steampath
.steampid
.vscode-shared/sharedStorage/
.vscode/
.wget-hsts
.wine/
.XCompose
.zcompdump
.zen/
.zoom/
.zoomvdi/
.zsh_history
Apps/
Desktop/
Documents/
Downloads/
Games/
go/
Pictures/
src/
Steam
Work/
