.GA_ClientID
.ICAClient/
.XCompose
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.chpwd-recent-dirs
.config/.mozilla/
.config/Code/
.config/QtProject.conf
.config/Swiftpoint X1 Control Panel/
.config/Typora/
.config/autostart/
.config/brave-flags.conf
.config/btop/
.config/chezmoi/
.config/chromium-flags.conf
.config/chromium/
.config/dconf/
.config/elephant/
.config/environment.d/
.config/fastfetch/
.config/fcitx/
.config/fcitx5/
.config/fontconfig/
.config/gamma-launcher/
.config/gh/
.config/gtk-3.0/
.config/hypr/autostart.conf
.config/hypr/envs.conf
.config/hypr/hyprland.conf
.config/hypr/hyprlock.conf
.config/hypr/hyprsunset.conf
.config/hypr/looknfeel.conf
.config/hypr/xdph.conf
.config/ibus/
.config/imv/
.config/jackify/
.config/kitty/
.config/lact/
.config/lazydocker/
.config/lazygit/
.config/libreoffice/
.config/mako/
.config/mimeapps.list
.config/mise/
.config/niri/config.kdl.*
.config/nvim/plugin/
.config/obsidian/
.config/omarchy.ttf
.config/omarchy/
.config/pulse/
.config/pupgui/
.config/qalculate/
.config/spotify/
.config/starship.toml
.config/steamtinkerlaunch/
.config/swayosd/
.config/systemd/user/elephant.service
.config/systemd/user/graphical-session.target.wants/
.config/systemd/user/omarchy-battery-monitor.service
.config/systemd/user/omarchy-battery-monitor.timer
.config/systemd/user/timers.target.wants/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/uwsm/
.config/walker/
.config/waybar/style.css
.config/xournalpp/
.config/zoomus.conf
.dotfiles/
.dotnet/
.gnupg/
.keychain/
.local/share/
.local/state/
.npm/
.nv/
.pki/
.pulse-cookie
.python_history
.ssh/
.steam/
.steampath
.steampid
.vscode/
.wget-hsts
.wine/
.zcompdump
.zen/
.zoomvdi/
.zsh_history
Apps/
Desktop/
Documents/
Downloads/
Games/
Jackify/
Pictures/
Steam
Work/
go/
modlist.txt
src/
stl/
